<% title t('.title') %>
  <% if current_user.is? :super_admin %>

  <% end %>

<div class="panel panel-default">
  <div class="panel-heading"><%= t('.available_actions') %></div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><%= link_to t('.parties'), admin_parties_path %></li>
      <li class="list-group-item"><%= link_to t('.periods'), admin_periods_path %></li>
      <li class="list-group-item"><%= link_to t('.datasets'), admin_datasets_path %></li>
      <li class="list-group-item"><%= link_to t('.donorsets'), admin_donorsets_path %></li>
      <li class="list-group-item"><%= link_to t('.media'), admin_media_path %></li>
      <% if current_user.deffereds.present? %>
        <li class="list-group-item">
          <%= link_to deffered_admin_users_path do %>
            <%= t('.deffereds') %>
            <span class="badge"><%= current_user.deffereds.length %></span>
          <% end %>
        </li>
      <% end %>
      <li class="list-group-item"><%= link_to t('.users'), admin_users_path %></li>
      <li class="list-group-item"><%= link_to t('.page_contents'), admin_page_contents_path %></li>
      <li class="list-group-item"><%= link_to t('.categories'), admin_categories_path %></li>
    </ul>
  </div>
</div>
