<%-
  label_key = "mongoid.attributes.medium."
  hint_key = "formtastic.hints.medium."
  title t '.title', :default => @model.model_name.human(:count => 2)
  locales = I18n.available_locales
  default_locale = locales[0].to_s
-%>

<%= semantic_form_for([:admin, @item], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>

  <div role="tabpanel" class="tabbed-translation-fields">
    <ul class="nav nav-tabs" role="tablist">
      <% locales.each_with_index do |locale, index| %>
        <li role="presentation" <%= 'class=active' if index == 0 %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= Language.name_by_locale(locale.to_s) %>
            <% if index == 0 %>
              <span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% locales.each_with_index do |locale, index| %>
        <div role="tabpanel" class="tab-pane fade <%= 'in active' if index == 0 %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :name_translations, OpenStruct.new(f.object.name_translations) do |translation| %>
            <%
              label = t(label_key + 'name')
              hint = t(hint_key + 'name')
              hint << show_default_text(@item.name_translations[default_locale]) if index > 0
            %>
            <%= translation.input locale, hint: hint.html_safe, label: label %>
          <% end %>

          <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
            <%
              label = t(label_key + 'title')
              hint = t(hint_key + 'title')
              hint << show_default_text(@item.title_translations[default_locale]) if index > 0
            %>
            <%= translation.input locale, hint: hint.html_safe, label: label, input_html: { class: "permalink-trigger", "data-permalink-receiver" => ".permalink-receiver-#{locale}"} %>
          <% end %>

          <%= f.fields_for :description_translations, OpenStruct.new(f.object.description_translations) do |translation| %>
              <%
                label = t(label_key + 'description')
                hint = t(hint_key + 'description')
                hint << show_default_text(@item.description_translations[default_locale]) if index > 0
              %>
              <%= translation.input locale, :as => :text, rows: 10, hint: hint.html_safe, label: label,
                  :input_html => { class: "tinymce" } %>
            <% end %>

          <%= f.fields_for :author_translations, OpenStruct.new(f.object.author_translations) do |translation| %>
            <%
              label = t(label_key + 'author')
              hint = t(hint_key + 'author')
              hint << show_default_text(@item.author_translations[default_locale]) if index > 0
            %>
            <%= translation.input locale, hint: hint.html_safe, label: label %>
          <% end %>

          <%= f.fields_for :embed_translations, OpenStruct.new(f.object.embed_translations) do |translation| %>
            <%
              label = t(label_key + 'embed')
              hint = t(hint_key + 'embed')
              hint << show_default_text(@item.embed_translations[default_locale]) if index > 0
            %>
            <%= translation.input locale, hint: hint.html_safe, label: label, input_html: { class: "embed_preview_trigger"}  %>
              <% if @item.embed_translations[locale].present? %>
                <div id="embed_preview_reciever_medium_embed_translations_<%= locale %>" class="preview form-group">
                  <iframe src="<%= @item.embed_translations[locale] %>" width="200" height="200" frameborder="0">Sorry your browser does not support inline frames.</iframe>
                </div>
              <% end %>

          <% end %>

          <%= f.fields_for :image_translations, OpenStruct.new(f.object.image_translations) do |translation| %>
            <%
              label = t(label_key + 'image')
              hint = t(hint_key + 'image')
              hint << show_default_text(@item.image_translations[default_locale]) if index > 0
            %>
            <%= translation.input locale, :as => :file, hint: hint.html_safe, label: label, input_html: { class: "image_preview_trigger"} %>
            <% if @item.image_translations[locale].present? %>
              <div id="image_preview_reciever_medium_image_translations_<%= locale %>" class="preview form-group"><img src="<%= @item.cover(locale).url(:small) %>"></div>
            <% end %>
          <% end %>

          <%= f.fields_for :web_translations, OpenStruct.new(f.object.web_translations) do |translation| %>
            <%
              label = t(label_key + 'web')
              hint = t(hint_key + 'web')
              hint << show_default_text(@item.web_translations[default_locale]) if index > 0
            %>
            <%= translation.input locale, hint: hint.html_safe, label: label %>
          <% end %>

          <%= f.fields_for :permalink_translations, OpenStruct.new(f.object.permalink_translations) do |translation| %>
            <%
              label = t(label_key + 'permalink')
              hint = t(hint_key + 'permalink')
              hint << show_default_text(@item._slugs_translations[default_locale].last) if index > 0 && @item._slugs_translations[default_locale].present?
            %>
            <%= translation.input locale, hint: hint.html_safe, label: label , input_html: { value: get_slug(@item, locale), class: "permalink-receiver-#{locale}" }%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



  <%= f.inputs do %>
    <%= f.input :public, :as => :boolean, label: false %>
    <%= f.input :read_more, :as => :boolean, label: false %>
    <%= f.input :show_image, :as => :boolean, label: false %>
  <% end %>


  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('shared.actions.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('shared.actions.cancel'), admin_media_path, :class => 'btn btn-warning' %>
  </div>
<% end %>




