<% title t '.title', :default => @model.model_name.human(:count => 2) %>

<div class="row action-pane">
  <div class="col-md-12">
    <%= links_for(@model, :admin, [:pre]) %>
    <div class="pull-right"><%= links_for(@model, :admin, [:new]) %></div>
  </div>
</div>
<div class="row"><hr/></div>
<div>
  <table class="table table-bordered table-hover table-responsive datatable">
    <thead>
      <tr>
        <th><%= @model.human_attribute_name(:source) %></th>
        <th><%= @model.human_attribute_name(:state) %></th>
        <th><%= @model.human_attribute_name(:updated_at) %></th>
        <th class="actions-3 sorting_disabled"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.source_file_name %></td>
          <td class="state-<%= item.current_state_sym %> text-center"><%= item.current_state %></td>
          <td class="text-right"><%= item.updated_at %></td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <%= links_for(item, :admin, [:view, :destroy]) %>
            </div>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
