<% page_title t('.title') %>

<div class="about-summary">
  <div class="about-summary-text">
    <%= simple_format t('shared.common.summary') %>
  </div>
</div>

<div class="section">
  <%= underlined_header(t('.methodology'), 'h2') %>
  <div class="content">
    <% if @donations_page_content.present? %>
      <h3><%= t('.donations') %></h3>
      <%= simple_format_no_tags @donations_page_content.content.html_safe %>
    <% end %>

    <% if @party_finances_page_content.present? %>
      <h3><%= t('.party_finances') %></h3>
      <%= simple_format_no_tags @party_finances_page_content.content.html_safe %>
    <% end %>
  </div>
</div>
<div class="section">
  <%= underlined_header(t('.sponsors'), 'h2') %>
  <div class="content content-sponsors">
    <%= link_to image_tag("about/js.svg", { alt: t('.alt.js'), title: t('.alt.js') }), "https://jumpstart.ge/" %>
    <%= link_to image_tag("about/us.png", { alt: t('.alt.us'), title: t('.alt.us') }), "http://state.gov/" %>
    <%= link_to image_tag("about/us_embassy.jpg", { alt: t('.alt.us_embassy'), title: t('.alt.us_embassy') }), "https://georgia.usembassy.gov/" %>
    <%= link_to image_tag("about/dcn.png", { alt: t('.alt.dcn'), title: t('.alt.dcn') }), "http://digicomnet.org/" %>
    <%= link_to image_tag("about/sao.png", { alt: t('.alt.sao'), title: t('.alt.sao') }), "http://sao.ge/" %>
  </div>
</div>

<% content_for :custom_css, "about" %>
