<div id="explore" data-type="donation">
  <div id="filter_type" class="filter-type" data-type="donation">
    <div class="back"><img alt="<%= t('shared.common.back') %>" src="/assets/explore/back.svg" title="<%= t('shared.common.back') %>"></div>
    <div class="donation active" data-type="donation">
      <button type="button" id="donation_toggle" class="donation-toggle" tabindex="4"><%= t('.donations') %></button>
    </div>
    <div class="sep"></div>
    <div class="finance" data-type="finance">
      <div class="finance-container">
        <button type="button" id="finance_toggle" class="finance-toggle" tabindex="4"><%= t('.party_finances').html_safe %><span>:</span></button><ul id="finance_category" >
          <li>
            <div class="finance-category-toggle" data-state="" data-cat="income">
              <a href="#income" class="label" tabindex="4"><span class="f"><%= t('.all') %></span><span class="s"><%= t('.campaign') %></span><%= t('.income') %></a>
              <a href="#income-all" class="sub" tabindex="4" data-sub="all"><%= t('.all') %></a>
              <a href="#income-campaign" class="sub" tabindex="4" data-sub="campaign"><%= t('.campaign') %></a>
            </div>
          </li>
          <li>
            <div class="finance-category-toggle" data-state="" data-cat="expense">
              <a href="#expense" class="label" tabindex="4"><span class="f"><%= t('.all') %></span><span class="s"><%= t('.campaign') %></span><%= t('.expenses') %></a>
              <a href="#expense-all" class="sub" tabindex="4" data-sub="all"><%= t('.all') %></a>
              <a href="#expense-campaign" class="sub" tabindex="4" data-sub="campaign"><%= t('.campaign') %></a>
            </div>
          </li>
          <li>
            <div class="finance-category-toggle" data-state="simple" data-cat="reform_expense">
              <a href="#reform_expense" class="label long" tabindex="4"><%= t('.reform_expense_button').html_safe %></a>
            </div>
          </li>
          <li>
            <div class="finance-category-toggle" data-state="simple" data-cat="property">
              <a href="#property" class="label long" tabindex="4"><%= t('.property_assets_button').html_safe %></a>
            </div>
          </li>
          <li>
            <div class="finance-category-toggle" data-state="simple" data-cat="financial">
              <a href="#financial" class="label long" tabindex="4"><%= t('.financial_assets_button').html_safe %></a>
            </div>
          </li>
          <li>
            <div class="finance-category-toggle" data-state="simple" data-cat="debt">
              <a href="#debt" class="label" tabindex="4"><%= t('.debts').html_safe %></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="filter_extended" class="filter-extended" data-type="donation">
    <div class="filter-toggle"><i class="filter" title="<%= t('.filters') %>"></i><%= t('.filters') %></div>
    <div class="pane">
      <div class="filter-header">
        <label><i class="filter" title="<%= t('.filters') %>"></i><%= t('.filters') %></label>
        <i class="close" title="<%= t('.filter_close') %>"></i>
      </div>
      <div class="donation filter-inputs" data-type="donation">
        <div class="row filter-input" data-field="donor" data-type="autocomplete">
          <a href="#" class="toggle" tabindex="5"><%= t('.id_name') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <ul id="donation_donor" class="list" data-autocomplete-view="donation-donor" data-type="autocomplete"></ul>
          <div class="input-group">
            <div class="autocomplete" data-autocomplete-id="donation-donor" data-url="select/donors">
              <input type="text" placeholder="Type Person Id or Name" tabindex="5">
              <ul class="dropdown" id="filter_donation_by_donors" tabindex="5">
                <% Donor.limit(10).each{|m| %>
                  <li data-id="<%= "#{m.id}" %>" tabindex="5"><%= "#{m.first_name} #{m.last_name}" %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row filter-input" data-field="period" data-type="period">
          <a href="#" class="toggle" tabindex="5"><%= t('.time_period') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <div class="list"></div>
          <div class="input-group">
            <input id="donation_period_from" type="text" placeholder="<%= t('.from') %>" class="datepicker" data-type="period">
            <input id="donation_period_to" type="text" placeholder="<%= t('.to') %>" class="datepicker" data-type="period">
            <div class="sublabel"><%= t('.campaign') %>:</div>
            <ul id="donation_period_campaigns">
              <% Period.campaigns.each {|r| %>
                <li><a href="#" data-value="<%= "#{r.start_date};#{r.end_date}"%>"><%= "#{l r.start_date} - #{l r.end_date}"%></a></li>
              <% } %>
            </ul>
          </div>
        </div>
        <div class="row filter-input" data-field="amount" data-type="range">
          <a href="#" class="toggle" tabindex="5"><%= t('.amount') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <div class="list hidden"></div>
          <div class="input-group">
            <input id="donation_amount_from" type="number" placeholder="<%= t('.from') %>" class="datepicker" data-type="range">
            <input id="donation_amount_to" type="number" placeholder="<%= t('.to') %>" class="datepicker" data-type="range">
          </div>
        </div>
        <div class="row filter-input" data-field="party" data-type="autocomplete">
          <a href="#" class="toggle" tabindex="5"><%= t('.party') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <ul id="donation_party" class="list" data-autocomplete-view="donation-party" data-type="autocomplete"></ul>
          <div class="input-group">
            <div class="autocomplete" data-autocomplete-id="donation-party" data-local="party_list">
              <input type="text" placeholder="Type Party Name" tabindex="5">
              <ul class="dropdown" id="filter_donation_by_parties" tabindex="5">
                <% Party.each{|m| %>
                  <li data-id="<%= "#{m.id}" %>" tabindex="5"><%= "#{m.title}" %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row filter-input" data-field="type" data-type="radio">
          <a href="#" class="toggle" tabindex="5"><%= t('.donation_type') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <div class="list hidden"></div>
          <div class="input-group">
            <div class="block b1">
              <input type="radio" id="donation_monetary_yes" name="donation_monetary" value="yes" data-type="radio">
              <label for="donation_monetary_yes"><span></span><%= t('.monetary') %></label>
            </div>
            <div class="block">
              <input type="radio"  id="donation_monetary_no" name="donation_monetary" value="no" data-type="radio">
              <label for="donation_monetary_no"><span></span><%= t('.non_monetary') %></label>
            </div>
          </div>
        </div>
        <div class="row filter-input" data-field="multiple" data-type="checkbox">
          <a href="#" class="toggle" tabindex="5"><%= t('.donated_multiple_parties') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <div class="list hidden"></div>
          <div class="input-group">
            <div class="block">
              <input type="checkbox" id="donation_multiple_yes" name="donation_multiple" value="yes" data-type="checkbox">
              <label for="donation_multiple_yes"><span></span><%= t('._yes') %></label>
            </div>
          </div>
        </div>
      </div>
      <div class="finance filter-inputs" data-type="finance">
        <div class="row filter-input" data-field="income" data-type="autocomplete" data-on="false">
          <a href="#" class="toggle" tabindex="5"><%= t('.income') %> (<span></span>) <%= t('.category') %><i title="<%= t('.filter_toggle') %>"></i></a>
          <ul id="finance_income" class="list" data-autocomplete-view="finance-income" data-type="autocomplete"></ul>
          <div class="input-group">
            <div class="autocomplete" data-autocomplete-id="finance-income" data-url="select/category">
              <input type="text" placeholder="Select Category" tabindex="5">
              <ul class="dropdown" id="filter_finance_by_income" tabindex="5">
                <% Category.limit(10).each{|m| %>
                  <li data-id="<%= "#{m.id}" %>" tabindex="5"><%= "#{m.title}" %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <%= render partial: 'autocomplete_input', :locals => { input_for: "finance", input_field: "financial", label: "financial_assets", on: false, list: Category.by_sym(:financial_assets).html_safe } %>
      </div>
      <div class="filter-footer">
        <button id="reset" class="reset"><%= t('.reset') %></button>
        <button id="explore_button" class="explore-button"><i class='explore'></i><%= t('.explore') %></button>
      </div>
    </div>
  </div>
  <div id="content" class="content">
    <div class="overlay hidden"></div>
    <div class="panes" >
      <div class="pane" data-type="donation">
        <div class="caption"><%= t('.donation_caption') %></div>
        <div class="charts">
          <div class="chart-container chart-container-1">
            <div class="actions">
              <div class="share" title="<%= t('.share_chart') %>"><i></i></div>
              <div class="embed" title="<%= t('.embed_chart') %>"><i></i></div>
              <div class="download download_menu" title="<%= t('.download_chart') %>">
                <i></i>
                <ul class="chart_download" data-target="#donation_chart_1">
                  <li><a href="#" data-type="print">print</a></li>
                  <li><a href="#" data-type="pdf">pdf</a></li>
                  <li><a href="#" data-type="svg">svg</a></li>
                  <li><a href="#" data-type="jpeg">jpeg</a></li>
                  <li><a href="#" data-type="png">png</a></li>
                </ul>
              </div>
            </div>
            <div id="donation_chart_1"></div>
          </div>
          <div class="separator">
            <span class="donors"><%= t('.donors') %></span>
            <span class="party-donations"><%= t('.party_donations').html_safe %></span>
          </div>
          <div class="chart-container chart-container-2">
            <div class="actions">
              <div class="share" title="<%= t('.share_chart') %>"><i></i></div>
              <div class="embed" title="<%= t('.embed_chart') %>"><i></i></div>
              <div class="download download_menu" title="<%= t('.download_chart') %>">
                <i></i>
                <ul class="chart_download" data-target="#donation_chart_2">
                  <li><a href="#" data-type="print">print</a></li>
                  <li><a href="#" data-type="pdf">pdf</a></li>
                  <li><a href="#" data-type="svg">svg</a></li>
                  <li><a href="#" data-type="png">png</a></li>
                  <li><a href="#" data-type="jpeg">jpeg</a></li>
                </ul>
              </div>
            </div>
            <div id="donation_chart_2"></div>
          </div>
        </div>
        <div class="total">
          <div id="donation_total_amount"><div class="box"><label><%= t('.total_amount') %>:</label><span></span></div></div>
          <div class="separator"></div>
          <div id="donation_total_donations"><div class="box"><label><%= t('.total_donations') %>:</label><span></span></div></div>
        </div>
        <div class="table">
            <div class="actions">
              <div class="share" title="<%= t('.share_chart') %>"><i></i></div>
              <div class="embed" title="<%= t('.embed_chart') %>"><i></i></div>
              <a href='<%= "#{@download_link}" %>' id="donation_csv_download" class="download" title="<%= t('.download_table') %>"><i></i></a>
            </div>
          <div id="donation_table">
            <table></table>
          </div>
        </div>
      </div>
      <div class="pane" data-type="finance">
        <div class="charts">
          <div class="chart-container">
            <div class="actions">
              <div class="left">
                <label>View as:</label>
                <div class="view-chart" title="<%= t('.view_as_chart') %>"><i></i></div>
                <div class="view-table" title="<%= t('.view_as_table') %>"><i></i></div>
              </div>
              <div class="share" title="<%= t('.share_chart') %>"><i></i></div>
              <div class="embed" title="<%= t('.embed_chart') %>"><i></i></div>
              <div class="download download_menu" title="<%= t('.download_chart') %>">
                <i></i>
                <ul class="chart_download" data-target="#donation_chart_1">
                  <li><a href="#" data-type="print">print</a></li>
                  <li><a href="#" data-type="pdf">pdf</a></li>
                  <li><a href="#" data-type="svg">svg</a></li>
                  <li><a href="#" data-type="jpeg">jpeg</a></li>
                  <li><a href="#" data-type="png">png</a></li>
                </ul>
              </div>
            </div>
            <div id="finance_chart"></div>
          </div>
        </div>
        <div class="table">
            <div class="actions">
              <div class="share" title="<%= t('.share_chart') %>"><i></i></div>
              <div class="embed" title="<%= t('.embed_chart') %>"><i></i></div>
              <a href="" id="donation_csv_download" class="download" title="<%= t('.download_chart') %>"><i></i></a>
            </div>
          <div id="finance_table">
            <table></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :custom_js,  "explore"  %>
<% @custom_js = ["https://code.highcharts.com/highcharts.js", "https://code.highcharts.com/modules/exporting.js", "https://code.highcharts.com/modules/offline-exporting.js", "crypto.min.js" ] %>
<% content_for :custom_css, "explore" %>
