<%
  page_title t('.title')
  label_key = "mongoid.attributes.medium."
%>

<% if @media.present? %>

  <div class="media-items">
    <% @media.each do |medium| %>
      <div class="media-item">
        <%= underlined_header(medium.title, 'h2') %>

        <div class="media-item-text">
          <span class="media-item-label"><%= t(label_key + 'name') %>:</span>
          <%= medium.name %>
        </div>
        <div class="media-item-text">
          <span class="media-item-label"><%= t(label_key + 'author') %>:</span>
          <%= medium.author %>
        </div>
        <div class="media-item-text">
          <span class="media-item-label"><%= t(label_key + 'story_date') %>:</span>
          <%= l(medium.story_date) %>
        </div>
        <% if medium.cover.present? %>
          <div class="media-item-image">
            <%= image_tag medium.cover.url(:medium) %>
          </div>
        <% elsif medium.embed.present? %>
          <div class="media-item-embed embed-responsive embed-responsive-16by9">
            <%= medium.human_embed.html_safe %>
          </div>
        <% end %>
        <% if medium.description.present? %>
          <div class="media-item-description">
            <div class="media-item-description-container read-less">
              <%= simple_format_no_tags(medium.description, {}, {sanitize: false}) %>
            </div>
          </div>
        <% end %>
        <% if medium.web.present? %>
          <div class="media-item-link">
            <%= link_to truncate(medium.web,length: 70), medium.web, target: :blank %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= paginate @media %>

<% else %>
  <p class="empty-page">
    <%= t('.no_media') %>
  </p>
<% end %>

<% @custom_js = ["readmore.min", "in-media"] %>
<% content_for :custom_css, "in-media" %>
