<html lang="<%= @locale %>">
  <head>
    <title><%= @title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= @descr %>">
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:site_name" content="<%= @sitename %>" />
    <meta property="og:image" content="<%= @image %>" />
    <meta property="og:description" content="<%= @descr %>" />
    <meta property="og:url" content="<%= @share_url %>" />
    <meta property="og:type"   content="website" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pins.ge">
    <meta name="twitter:title" content="<%= @title %>">
    <meta name="twitter:description" content="<%= @descr %>">
    <meta name="twitter:image" content="<%= @image %>">
      <%= favicon_link_tag '/favicon.png', :rel => 'shortcut icon' %>
  </head>
  <body>
  </body>
</html>
