<p><%= t('.hello_email', email: @resource.email) %></p>

<p><%= t('.introduction') %></p>

<p>
  <%= link_to t('shared.actions.change_my_password'),
               edit_password_url(@resource,
                                 reset_password_token: @token,
                                 locale: I18n.locale) %>
</p>

<p><%= t('.did_not_request_note') %></p>
<p><%= t('.password_will_not_change') %></p>
