<%-
  model_class = User
  page_title t('mongoid.models.user', count: 999)
-%>

<div class='actions'>
  <%= new_button(model_class) %>
</div>

<table class="table table-striped table-hover table-nonfluid">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:role_id) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_at) %></th>
      <% if can? :edit, User %>
        <th class="action-col"><%=t 'shared.common.actions' %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to t('shared.actions.view'),
                      admin_user_path(user),
                      class: 'btn btn-default' %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.role.name if user.role.present? %></td>
        <td><%= user.last_sign_in_at %></td>
        <% if (can? :edit, user) || (can? :destroy, user) %>
          <td>
            <%= if can? :edit, User
                  link_to t('shared.actions.edit'),
                          edit_admin_user_path(user),
                          class: 'btn btn-default'
            end %>
            <%= if can? :destroy, User
                  link_to t('shared.actions.destroy'),
                          admin_user_path(user),
                          method: :delete,
                          data: { confirm: t('shared.prompts.confirm') },
                          class: 'btn btn-danger'
            end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
