<head>

  <%-
    title = (content_for?(:page_title) && yield(:page_title) != t('shared.common.name') ? "#{strip_tags_nbsp(yield(:page_title))} | #{t('shared.common.name')}" :
              "#{t('shared.common.name')} | #{t('shared.common.slogan')}").html_safe
    desc = t("shared.common.description").html_safe
  -%>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <meta property="og:title" content="<%= title %>">
  <meta name="description" content="<%= desc %>">
  <meta property="og:description" content="<%= desc %>" />
  <meta property="og:type" content="non_profit" />
  <meta property="og:url" content="<%= current_url %>" />
  <meta property="og:image" content="<%#= image_url("share_#{I18n.locale}.jpg") %>" />
  <meta property="og:site_name" content="<%= t("shared.common.name") %>" />

  <%= csrf_meta_tags %>
  <%= include_gon %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
  <%#
    css = ['application']
    if defined?(is_admin)
      css << 'admin'
    end
  %>
  <%# stylesheet_link_tag *css, :media => "all" %>
  <%= stylesheet_link_tag defined?(is_admin) ? "admin" : "application", :media => "all" %>
  <% if content_for? :custom_css %>
    <%= stylesheet_link_tag "#{yield(:custom_css)}"  %>
  <% end %>
  <%= render partial: 'application/head/favicons' %>
</head>
