<nav class="navbar">
  <div class="main-container">
    <div class="navbar-section navbar-left navbar-toggle-receiver">
      <button type="button" class="navbar-toggle navbar-menu-toggle" data-toggle="collapse" data-target=".navbar-toggle-receiver">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to  root_path, class: 'navbar-brand', tabindex: 1 do %>
        <%= image_tag("logo_#{I18n.locale}.svg", alt: t('shared.common.name'), title: t('shared.common.name')) %>
      <% end %>
      <div class="navbar-collapse collapse navbar-menu-collapse">
        <ul class="nav navbar-nav">
          <!-- <li><%#= link_to t('.parties').upcase, parties_path  %></li> -->
          <li><%= link_to t('.explore').upcase, explore_path, { tabindex: 2 }.merge(current_page?(explore_path) ? { :class => "active" } : {}) %></li><li><%= link_to t('.about').upcase, about_path, { tabindex: 2 }.merge(current_page?(about_path) ? { :class => "active" } : {}) %></li><li><%= link_to t('.media').upcase, media_path, { tabindex: 2 }.merge(current_page?(media_path) ? { :class => "active" } : {}) %></li><li><%= link_to t('.download').upcase, download_path, { tabindex: 2 }.merge(current_page?(download_path) ? { :class => "active" } : {}) %></li>
          <%- if user_signed_in? %>
            <li class="dropdown">
              <a href="#" id="user-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('.settings').upcase %><%- if current_user.deffereds.present? %><span> (<%= current_user.deffereds.length %>)</span><%- end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user.deffereds.present? %>
                  <li>
                    <%= link_to admin_path, tabindex: 2  do %>
                      <%= t('mongoid.models.deffered', count: current_user.deffereds.length).upcase %>
                      <span class="badge"><%= current_user.deffereds.length %></span>
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <%= link_to t('mongoid.models.user', count: 999).upcase,
                              admin_users_path, tabindex: 2  %>
                </li>
                <li>
                  <%= link_to t('mongoid.models.admin', count: 1).upcase,
                              admin_path, tabindex: 2  %>
                </li>

                <li class='divider'>

                </li>
                <li>
                  <%= link_to t('.account.edit_profile').upcase,
                              edit_user_registration_path, tabindex: 2  %>
                </li>
                <li>
                  <%= link_to t('.account.logout').upcase,
                              destroy_user_session_path,
                              method: :delete, tabindex: 2  %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div><div class="navbar-section navbar-right navbar-toggle-receiver">
      <button type="button" class="navbar-toggle navbar-lang-toggle" data-toggle="collapse" data-target=".navbar-toggle-receiver">
        <span><%= t("shared.locale.short.#{I18n.locale}") %></span>
        <%= image_tag("earth.svg", alt: t('shared.common.language'), title: t('shared.common.language'), class: "icon-earth") %>
      </button>
      <div class="navbar-collapse collapse navbar-lang-collapse">
        <ul class='nav navbar-nav'>
          <% ln = I18n.available_locales.length %>
          <% I18n.available_locales.each_with_index do |locale, locale_ind| %>
            <li class='<%= "active" if I18n.locale == locale %>'>
              <%= link_to url_for(locale: locale), tabindex: 3  do %>
                <span class="short"><%= I18n.locale != locale ? t("shared.locale.short.#{locale}") : t("shared.locale.long.#{locale}") %></span>
                <span class="long"><%= t("shared.locale.long.#{locale}") %></span>
              <% end %>
            </li>
            <% if locale_ind != ln-1 %>
              <li class="sep">/</li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
