<%-
  label_key = "mongoid.attributes.page_content."
  hint_key = "mongoid.hints.page_content."
-%>

<%= semantic_form_for([:admin, @item], html: {class: 'tabbed-translation-form'}) do |f| %>
	<%= f.error_messages %>

	<%= f.inputs do %>
	  <%= f.input :name, hint: t(hint_key + 'name') %>
	<% end %>



  <div role="tabpanel" class="tabbed-translation-fields">
    <%
      locales = I18n.available_locales
    %>

    <ul class="nav nav-tabs" role="tablist"
        data-default-language-icon="<span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>">
      <%
        default_locale = I18n.default_locale.to_s
        default_lang = ''
      %>
      <% locales.each_with_index do |locale, index| %>
        <%
          lang = @languages.select{|x| x.locale == locale.to_s}.first
          cls = ''
          if index == 0
            cls = 'class=active'
            default_locale = locale
            default_lang = lang.present? ? lang.name : locale
          end
        %>
        <li role="presentation" <%= cls %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= lang.present? ? lang.name : locale %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% locales.each_with_index do |locale, index| %>
        <%
          cls = ''
          cls = 'in active' if index == 0
        %>
        <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
            <%
              label = t(label_key + 'title')
              hint = t(hint_key + 'title')
              if index > 0
                label << show_default_text(@item.title_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>

          <%= f.fields_for :content_translations, OpenStruct.new(f.object.content_translations) do |translation| %>
            <%
              label = t(label_key + 'content')
              hint = t(hint_key + 'content')
              if index > 0
                label << show_default_text(@item.content_translations[default_locale])
              end
            %>
            <%= translation.input locale, :as => :text, hint: hint, required: false, rows: 10, label: label.html_safe,
                :input_html => { class: "tinymce" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_page_contents_path, :class => 'btn btn-warning' %>
  </div>
<% end %>


<%= tinymce_assets %>
