<%- model_class = PageContent -%>
<% page_title t '.title', :default => model_class.model_name.human(:count => 2) %>

<div class="row action-pane">
  <div class="col-md-12">
    <%= links_for(@model, :admin, [:pre]) %>
    <div class="pull-right"><%= links_for(@model, :admin, [:new]) %></div>
  </div>
</div>
<div class="row"><hr/></div>

<table class="table table-bordered table-hover table-responsive datatable">
  <thead>
    <tr>
      <th><%= @model.human_attribute_name(:name) %></th>
      <th><%= @model.human_attribute_name(:title) %></th>
      <th class="actions-3"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td class="available-locales-box"><%= "#{item.title} #{existence_translations(item, :title)}".html_safe %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= links_for(item, :admin, [:view, :edit, :destroy]) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


