<% page_title t '.title', :default => @model.model_name.human %>

<div class="row action-pane">
  <div class="col-md-12">
    <%= links_for(@model, :admin, [:pre, :view_all]) %>
    <div class="pull-right"><%= links_for(@item, :admin, [:edit, :destroy]) %></div>
  </div>
</div>
<div class="row"><hr/></div>
<div class="row">
  <div class="col-md-12">
  <% tmp = [:name, :title, :content]
    tmp.each { |f| %>
      <% if f == :content %>
        <div class="tinymce_format">
          <p><strong><%= @model.human_attribute_name(f) %>: </strong></p>
          <%= simple_format_no_tags(@item.send(f), {}, {sanitize: false}) %>
        </div>
      <% else %>
        <p><strong><%= @model.human_attribute_name(f) %>: </strong><%= @item.send(f) %></p>
      <% end %>
  <% } %>
  </div>
</div>
