<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'application/head' %>
  <body>
    <%= render partial: 'application/loading_indicator' %>
    <%= render partial: 'application/navbar_header' %>
    <%= render partial: 'application/main' %>
    <%= render partial: 'application/footer' %>

    <% if Rails.env.production? %>
      <%= render partial: 'application/google_analytics' %>
    <% end %>

  </body>

</html>
