<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= include_gon %>
    <%= stylesheet_link_tag  *(@css.present? ? ["embed",@css].flatten : ["embed"]), :media => "all" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag  *(@js.present? ? ["embed", @js].flatten : ["embed"]), :media => "all" %>
  </body>
</html>
